<!DOCTYPE html>
<html data-ng-app="iframed">
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script data-require="angularjs@1.5.7" data-semver="1.5.7" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src='/javascripts/app.js' ></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
